<%- include('../partials/header') %>
    <table>
        <thead>
            <th>Airline</th>
            <th>Flight No.</th>
            <th>Departure Date/Time</th>
            <th>Details</th>
        </thead>
        <tbody>
            <% flights.forEach(f => { %>
            <tr <% if (f.departs < new Date()){ %> class="red"<%  };  %></tr>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
                <td><a href="/flights/<%= f._id %>">details</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<%- include('../partials/footer') %>


