<%- include('../partials/header') %>
    <table>
        <thead>
            <th>Airline</th>
            <th>Flight No.</th>
            <th>Departure Date/Time</th>
        </thead>
        <tbody>
            <% flights.forEach(f => { %>
            <% console.log(f.airline) %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<%- include('../partials/footer') %>